apiVersion: v1
kind: Service
metadata:
  name: {{ include "sheerwater-mcp.fullname" . }}
  labels:
    {{- include "sheerwater-mcp.labels" . | nindent 4 }}
  annotations:
    tailscale.com/expose: "true"
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "sheerwater-mcp.selectorLabels" . | nindent 4 }}
